body {
    font-family: Arial, sans-serif;
}

h1, form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
}

input[type="submit"] {
    padding: 5px 20px;
    background-color: green;
    color: white;
}

li {
    margin-bottom: 5px;
}

a {
    color: blue;
}

a:hover {
    text-decoration: underline;
}
